body{
  background-color: #DADAD8;
}
.game-area{
  width: 1000px;
  height: 1000px;
  position: relative;
  margin: 50px auto;
  border: 5px solid black;
}

.snake-dot{
  position: absolute;
  width:5%;
  height: 5%;
  background: url('./assests/snakeBody.png');
  background-size: cover;
  border: 1px solid #fff;
}
.snake-dot-head{
  position: absolute;
  width:5%;
  height: 5%;
  background: url('./assests/snakeHead.png');
  background-size: cover;
  border: 1px solid #fff;
}


.snake-food{
  position: absolute;
  width:5%;
  height: 5%;
  background-color: red;
  background-size: cover;
  border: 1px solid #fff;
}