body{
  background-color: #DADAD8;
}
.game-area{
  width: 1000px;
  height: 1000px;
  position: relative;
  margin: 50px auto;
  border: 5px solid black;
}

.snake-dot{
  position: absolute;
  width:2%;
  height: 2%;
  background-color: green;
  border: 1px solid #fff;
}